.advantages {
  margin: 40px 0 50px;
  &__wrap {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 40px;
  }
  &__overlay {
    background: #E3EAF1;
    border-radius: 5px;
    width: calc(100% + 320px);
    margin-left: -160 px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
  &__title {
    font-weight: bold;
    font-size: 32px;
    position: relative;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  &__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--center {
      justify-content: center;
    }
    li {
      margin: 0 0 30px;
      width: 20%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
  &__ico {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 166px;
    height: 166px;
    margin-bottom: 15px;
  }
  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    padding: 0 15px;
  }
  &__hidden {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

}

@media (max-width: $xl) {
  .advantages {
    &__list {
      li {
        width: 33.33%;
      }
    }

  }
}

@media (max-width: $lg) {
  .advantages {
    margin: 40px 0 30px;
    &__title {
      font-size: 32px;
    }
    &__ico {
      margin-bottom: 5px;
      width: 150px;
      height: 150px;
    }
    &__caption {
      font-size: 14px;
    }
    &__list {
      li {
        width: 33.33%;
      }
    }
  }
}

@media (max-width: $md) {
  .advantages {
    &__title {
    }
    &__caption {
    }
    &__list {
      li {
        width: 50%;
      }
    }
  }
}

@media (max-width: $sm) {
  .advantages {
    &__title {
      margin-bottom: 15px;
      font-size: 22px;
    }
    &__caption {
      flex: 1;
      padding: 0 0 0 15px;
    }
    &__ico {
      width: 100px;
      height: 100px;
    }
    &__list {
      li {
        width: 100%;
        flex-direction: row;
        text-align: left;
        margin-bottom: 0px;
      }
    }
  }
}