.breadcrumbs {
  font-size: 14px;
  opacity: .5;
  color: $text-color;
  margin: 0 0 40px;
  li {
    display: inline-block;
    margin-right: 2px;
    span {
      margin: 0 3px;
    }
    &.last-breadcrumbs {
      a {
        text-decoration: none;
        pointer-events: none;
      }
    }
  }
  a {
    color: inherit;
    font-size: 14px;
    text-decoration-line: underline;
    transition: .2s ease-in-out all;
    display: inline-block;
    margin-right: 7px;
  }
}

@media (max-width: $md) {
  //.breadcrumbs{
  //  margin-bottom: 40px;
  //  li{
  //    font-size: 12px;
  //  }
  //  a{
  //    font-size: 12px;
  //  }
  //}
}