.produce {
  &__list {
    margin: 0 0 80px;
    li {
      width: 20%;
      height: 110px;
      border: 1px solid #EAEEF0;
      text-decoration: none;
      margin: 0;
      float: left;
      a{
        transition: .2s ease-in-out background, .2s ease-in-out color;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        line-height: 1.2;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 30px;
        height: 100%;
        width: 100%;
        &:hover{
          background: #14C5D0;
          color: #fff;
          //svg  *{
          //  stroke: #fff;
          //  fill: transparent;
          //  //fill: #14C5D0;
          //}
          //svg rect{
          //  //fill: transparent;
          //  //stroke: #fff;
          //}
          svg:not(.glass-edge-processing):not(.entrance-groups){
            *{
              //filter: brightness(0) invert(1);
              //stroke: #fff;
              //fill: transparent;
            }
            g>path{
              stroke: #fff;
              fill: transparent;
            }
            &>circle{
              stroke: #fff;
            }
            &>rect{
              stroke: #fff;
              fill: transparent;
            }
            &>path{
              stroke: #fff;
              fill: transparent;
            }

          }
          .entrance-groups{
            &>path{
              &:nth-of-type(1){
                fill: #fff;
              }
              &:nth-of-type(3){
                fill: #fff;
              }
            }

          }
          .glass-edge-processing{
            rect{
              stroke: #fff;
            }
            &>path{
              fill: #fff;
              &:last-of-type{
                stroke: #fff;
                fill: transparent;
              }
            }
          }
        }
      }
      svg, svg *{
        transition: .2s ease-in-out all;
      }

      &:first-of-type{
        height: 220px;
        a{
          pointer-events: none;
          background: $text-color-2;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
        .produce__title{
          font-weight: 600;
          font-size: 28px;
          color: #FFFFFF;
          margin: 13px 0px 0;
        }
      }
    }
  }

  &__title{
    margin-left: 22px;
  }
  &--inner{
    padding-bottom: 60px;
  }
}

//@media (max-width: $xl) {
//  .produce{
//    &__item {
//      width: 25%;
//    }
//  }
//}