.works {
  padding-bottom: 100px;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 23.7%;
    display: block;
    text-decoration: none;
    font-size: 22px;
    line-height: 1.2;
    color: $text-color;
    margin-bottom: 90px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      color: $text-color-2;
      .works__img {
        box-shadow: 0px 19px 40px rgba(90, 163, 196, 0.4);
        &:before, &:after {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    &--hidden {
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &__img {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    //max-width: 253px;
    height: 415px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    box-shadow: 0px 19px 40px rgba(90, 163, 196, 0);
    transition: .2s ease-in-out box-shadow;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0;
      width: 100%;
      height: 36%;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: contain;
      @include bgsvg('<svg width="154" height="154" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0L154 154H5C2.23858 154 0 151.761 0 149V0Z" fill="#1ED7E3" fill-opacity="0.7"/>
</svg>
');
      opacity: 0;
      transform: translate(-25px, 25px);
      transition: .3s ease-in-out opacity, .3s ease-in-out transform;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 100%;
      height: 47%;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      @include bgsvg('<svg width="198" height="198" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.9" d="M0 198H193C195.761 198 198 195.761 198 193V0L0 198Z" fill="#1EA6E3"/>
<path d="M133 155H167" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M158 143L170 154.5L158 166" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

');
      opacity: 0;
      transform: translate(25px, 25px);
      transition: .3s ease-in-out opacity .2s, .3s ease-in-out transform .2s;
    }
  }
  &__caption {
    margin: 25px 0px 0;
    display: block;
    //max-width: 230px;
  }
}

@media (max-width: $xl) {
  .works {
  }
}