.main-requirements {
  padding: 105px 0 40px;
  overflow: hidden;
  &__subscription {
    font-weight: normal;
    font-size: 26px;
    color: $text-color-2;
    line-height: 1.2;
    margin-bottom: 65px;
  }
  &__list {
    li{
      width: 25%;
      position: relative;
      padding-left: 48px;
      margin-bottom: 60px;
      line-height: 1.2;
      padding-right: 25px;
      float: left;
      &:before {
        content: "";
        width: 27px;
        height: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include bgsvg('<svg viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 6.43902L11.1324 15L25 2" stroke="#1EA6E3" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
');
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }
}