.main-works {
  overflow: hidden;
  padding: 0 !important;
  &__title {
    margin-bottom: 33px;
  }
  &__wrap {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 31px;
  }
  &__overlay {
    background: #E3EAF1;
    border-radius: 5px;
    width: calc(100% + 320px);
    margin-left: -160px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

@media (max-width: $xl) {
  .main-works {
    &__list {
      a {
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .main-works {
    &__wrap {
      padding-top: 65px;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: $sm) {
  .main-works {
    &__wrap {
      padding-top: 44px;
      padding-bottom: 20px;

    }
    &__list {
      a {
        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }
}