.main-about {
  margin: 70px 0;
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    position: relative;
    width: 100%;
    &:first-of-type {
      margin-top: 30px;
      &:before {
        content: '';
        background: #E3EAF1;
        border-radius: 5px;
        width: 870px;
        height: 415px;
        position: absolute;
        left: -160px;
        top: 200px;
        z-index: -1;
      }
    }
    &:last-of-type {
      max-width: 590px;
      margin-top: -20px;
    }
  }
  &__img {
    border-radius: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/main-baner.jpg");
    width: 510px;
    height: 547px;
    box-shadow: 0px 19px 40px rgba(119, 160, 179, 0.4);
  }
  blockquote {
    padding-left: 38px;
  }
  h2, h3, h4 {
    font-weight: 800;
    font-size: 54px;
    color: $text-color-2;
    margin: 0;

  }
}

@media (max-width: $xxl) {
  .main-about {
    &__col {
      &:first-of-type {
        &:before {
          width: 587px;
          height: 415px;
          left: -35px;
        }
      }
    }
  }
}

@media (max-width: $xl) {
  .main-about {
    margin: 50px 0;
    &__img {
      width: 400px;
      height: 430px;
    }
    &__col {
      &:first-of-type {
        &:before {
          width: 470px;
          height: 285px;
        }
      }
    }
    h2 {
      font-size: 38px;
    }
    blockquote {
      font-size: 16px;
      padding-left: 30px;
      margin: 30px 0;
    }
  }
}

@media (max-width: $lg) {
  .main-about {
    margin: 45px 0;
    &__row {
      flex-direction: column;
    }
    &__img {
      width: 374px;
      height: 211px;
    }
    &__col {
      &:first-of-type {
        padding-left: 25px;
        &:before {
          max-width: 474px;
          width: 100%;
          height: 161px;
          left: 0;
          top: 78px;
        }
      }
      &:last-of-type {
        margin-top: 60px;
        max-width: 100%;
      }
    }
    h2 {
      font-size: 32px;
    }
    blockquote {
      font-size: 14px;
      margin: 20px 0 30px;
      padding: 2px 15px;
    }
  }
}

@media (max-width: $sm) {
  .main-about {
    h2 {
      font-size: 22px;
    }
    &__img {
      width: 100%;
      max-width: 374px;
    }
    &__col {
      &:first-of-type {
        margin-top: 25px;
        padding-right: 25px;
      }
      &:last-of-type {
        margin-top: 70px;
      }
    }
  }
}