$text-color: #222222 !default;
$text-color-hover: rgba(34, 34, 34, 0.7) ;
$text-color-2: #1EA6E3;
$text-color-2-dark: #0688C2;

$font-basic: 'Montserrat';
//$font-add: 'Montserrat';


$sm: 575px;
$md: 767px;
$lg: 989px;
$xl: 1249px;
$xxl: 1489px;

